#document {
    background-color: black;
    height: 100%;
}

#heading {
    font-size: 30px;
}

#header {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: lightgray;
}

#controls {
    float: right;
    margin-right: 5%;
}

#parent-videos {
    position: relative;
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

#videos {
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#info-bar {
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    background-color: whitesmoke;
}

.panel-body {
  word-wrap: break-word;
}

#chat_rooms {
  width: 150px;
  height: 45px;
}

.input-box {
    margin: 2%;
}
